/* Nav Bar Styles */

.header{
    width: 100%;
    max-width: 1280px;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.nav-btn{
    border-radius: 8px;
    border-color: rgba(0, 106, 80, 1);
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
    gap: 48px;
}

.nav-btn:hover{
    background-color: rgb(187, 255, 187)
}

/* Banner Styles */

.banner{
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    padding: 80px 100px 80px 100px;
}

.banner-content{
    max-width: 622px;
}

.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}

.banner-hero-image{
    width: 474px;
}


/* Vision Styles */

.card-1{
    background-color:rgba(84, 144, 245, 0.2);
}
.card-2{
    background-color: rgba(198, 228, 214, 1);  
}
.card-3{
    background-color: rgba(247, 235, 207, 1);
}

.cbtn-1{
    background-color: rgba(84, 144, 245, 1);
}
.cbtn-2{
    background-color: rgba(9, 161, 92, 1);
}
.cbtn-3{
    background-color: rgba(255, 194, 57, 1);
}

.card-title{
    font-size: 20px;
    font-weight: 600; 
}

.card-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.card-title .card-description .card-icon{
    margin: 24px, 24px, 64px, 24px;
}

/* Quote Section */

.quote{
  background-color: whitesmoke;
  border: 20px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 14, 0.15);
  margin-top: 32px;
}

.quote-contents{
    padding: 10px 24px 14px 24px;
}


.main-quote{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 64px 64px;  
}
.main-quote-x{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    padding-top: 30px;
}

.quote-person{
    margin-top: 12px;
    margin-bottom: 4px;
}

.person-id{
    margin-top: 4px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}


/* Recent News Styles */

.recent-news-content{
    margin-top: 30px;
}

.news-title{
    margin-bottom: 24px;
}

.news-subtitle{
    margin-bottom: 32px;
}

.news-card-1{
    display: flex;
    gap: 32px;
}

.news-card-2{
    display: flex;
    gap: 32px;
}

.news-card-1, .news-card-2{
    background-color: whitesmoke;
    border-radius: 24px;
    margin-bottom: 20px;
    padding: 40px 38px;
}

.news-card-title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
}

.satellite{
    border-radius: 24px;
    margin-top: 20px;
}

.common-font{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.read-more{
    margin-top: 30px;
}

.news-desc{
    margin-top: 6px;
}

/* Donation Styles */

.donation{
    margin-bottom: 60px;
    text-align: center;
}

.donate-title-desc{
    margin-bottom: 32px;
}


.btn-taka{
    border: none;
    border-radius: 16px;
    padding: 40px 40px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.8);   
    margin-right: 20px;
}

.btn-taka:hover{
    background-color: rgb(147, 255, 219);   
}


.other-amount{
    border: none;
    padding: 10px 40px;
    margin-bottom: 32px;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    width: 800px;
    height: 36px;
    background-color: whitesmoke;
    box-shadow: rgba(14, 14, 14, 0.15);

}

.done-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 106, 80, 1);  
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
    gap: 48px;
}


/* Footer Styles */

.footer{
    margin-bottom: 20px;
    text-align: center;
}

.subscribe-content{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.sub-title{
    margin-bottom: 16px;
}  

.email-sub{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 24px;  
}

.email-card{
    width: 600px;
    height: 39px;
    border: none;
    padding: 8px 20px 8px 40px; 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sub-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 106, 80, 1);  
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
    gap: 48px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}