/* Nav Bar Styles */

nav ul{
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-family: fira sans;

}

li{
    list-style: none;
}